body {
    margin: 0;
    background: darkgray;
    overflow: hidden;
    text-align: center;
}

#myCanvas {
    background: lightgray;
}

/*#object {
    width: 200px;
    height: 200px;
    background-color: orange;
    position: absolute;
    left: 100px;
    top: 100px;
}
*/ 
